html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aqua;
    display: flex;
    justify-content: center;
}
*{
    box-sizing: border-box;
}
.container{
    height: 90vh;
    justify-content: center;
}
button{
    height: 5vh;
    width: 10vh;
    background-color: black;
    color: white;
    margin: 8vh auto;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
#game-text{
    background-color: slateblue;
    margin: auto;
}
#game-text p{
    margin: 5px;
    font-size: 18px;
    color: white;
}